body {
  margin: 0;
  padding: 0;
}

.flex { display: flex; }
.flex-col { flex-direction: column; }
.justify-end { justify-content: flex-end; }
.align-center { align-items: center; }

#calc { margin-top: 100px; }

.display {
  height: 100px;
  width: 700px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  background: gray;
}

.btnPanel {
  width: 700px;
  background: #d3d3d3;
}

.rowPanel { height: 100px; }

.rowPanel > button {
  width: 25%;
  height: 100%;
  font-size: 1.2rem;
  border: solid 1px #999;
}
